/* header part */

header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
}

.logo{
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  display: inline-flex;
  padding-left: 30px;
}

.logo img{
  display: inline-flex;
  height: 60px;
  width: 70px;
  margin-right: 12px;
}

.navigation {
  display: inline-block;
  padding: 10px;
  padding-right: 40px;
  text-decoration: none;
  color: black
}

nav span{
  padding: 20px 10px;
}

a{
  color:inherit;
}
/* header part ends */

/*main body begins */
.main-body{
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
}

.column-large {
  width: 630px;
  flex-direction: column;
  margin-right: 32px;
  flex-wrap: nowrap;
}

.column-medium {
  width: 300px;
}

.column-small {
  width: 240px;
}

article{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h1{
  font-size: 40px;
  background-image: url("../images/img-story-main.png");
  height: 300px;
  width:629px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: center;

}

.main-story p{
  margin: 16px auto 17px auto;
}

 #Earth{
  background-image: url("../images/img-story-2.png");
  height: 299px;
  width: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#research{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-image: url("../images/img-story-3.png");
  height: 299px;
  width: 300px;
}

#cat{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 299px;
  width: 300px;
  background-image: url("../images/img-story-1.png");
}

.second-big{
  max-width: 300px;
  right-margin: 2em;
}

.third-big{
  max-width: 300px;
  right-margin: 2em;
}
